trigger: none
pr: none

parameters:
  - name: env
    displayName: Environment
    type: string
    default: prod
    values: [nonprod, prod]

  - name: destroy
    displayName: Destroy
    type: boolean
    default: false

variables:
  TF_DIR: terraform
  TF_VAR_FILE: '${{ parameters.env }}.tfvars'
  AWS_SERVICE_CONNECTION: AWS
  AWS_REGION: eu-north-1

pool:
  name: radwa_mohamed-agent

steps:
- checkout: self

- task: TerraformInstaller@1
  displayName: Install Terraform
  inputs:
    terraformVersion: latest

- task: AWSShellScript@1
  displayName: Configure AWS credentials
  inputs:
    awsCredentials: $(AWS_SERVICE_CONNECTION)
    regionName: $(AWS_REGION)
    scriptType: inline
    inlineScript: |
      set -euo pipefail
      echo "AWS credentials configured"

- task: AWSShellScript@1
  displayName: Terraform init
  inputs:
    awsCredentials: $(AWS_SERVICE_CONNECTION)
    regionName: $(AWS_REGION)
    scriptType: inline
    inlineScript: |
      set -euo pipefail
      cd "$(TF_DIR)"
      terraform init

- task: AWSShellScript@1
  displayName: Terraform plan
  inputs:
    awsCredentials: $(AWS_SERVICE_CONNECTION)
    regionName: $(AWS_REGION)
    scriptType: inline
    inlineScript: |
      set -euo pipefail
      cd "$(TF_DIR)"
      terraform plan -out=tfplan -var-file="$(TF_VAR_FILE)"

- task: AWSShellScript@1
  displayName: Terraform apply
  inputs:
    awsCredentials: $(AWS_SERVICE_CONNECTION)
    regionName: $(AWS_REGION)
    scriptType: inline
    inlineScript: |
      set -euo pipefail
      cd "$(TF_DIR)"
      terraform apply -auto-approve tfplan

# Optional Destroy steps, only run if you set destroy=true when running the pipeline
- task: AWSShellScript@1
  displayName: Terraform plan destroy
  condition: eq('${{ parameters.destroy }}', true)
  inputs:
    awsCredentials: $(AWS_SERVICE_CONNECTION)
    regionName: $(AWS_REGION)
    scriptType: inline
    inlineScript: |
      set -euo pipefail
      cd "$(TF_DIR)"
      terraform plan -destroy -out=tfplan -var-file="$(TF_VAR_FILE)"

- task: AWSShellScript@1
  displayName: Terraform apply destroy
  condition: eq('${{ parameters.destroy }}', true)
  inputs:
    awsCredentials: $(AWS_SERVICE_CONNECTION)
    regionName: $(AWS_REGION)
    scriptType: inline
    inlineScript: |
      set -euo pipefail
      cd "$(TF_DIR)"
      terraform apply -auto-approve tfplan
