server:
  service:
    type: ClusterIP

  ingress:
    enabled: true
    ingressClassName: nginx

    annotations:
      nginx.ingress.kubernetes.io/use-regex: "true"
      nginx.ingress.kubernetes.io/rewrite-target: /$2
      nginx.ingress.kubernetes.io/configuration-snippet: |
        rewrite ^/argo(/|$)(.*) /$2 break;
      nginx.ingress.kubernetes.io/ssl-redirect: "false"

    hosts:
      - host: "*"
        paths:
          - path: /argo(/|$)(.*)
            pathType: Prefix

  configs:
    params:
      server.baseHref: /argo
