server:
  service:
    type: ClusterIP

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/rewrite-target: /$2
      nginx.ingress.kubernetes.io/x-forwarded-prefix: "/argo"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
    hosts:
      - host: "demo.local"
        paths:
         
          - path: /argo(/|$)(.*)
            pathType: ImplementationSpecific

configs:
  params:
    server.basehref: "/argo/"
    server.rootpath: "/argo"
    server.insecure: true 