server:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts: [] 
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
    paths:
      - path: /argo(/|$)(.*)
        pathType: Prefix
  service:
    type: ClusterIP
